<section id="dealer" data-ng-controller="DealerCtrl">
	<div class="page-header">
		<h1 ng-if="!dealer.id">Add a Dealer</h1>
		<h1 ng-if="dealer.id">Update Dealer</h1>
	</div>
	<div class="col-md-6 show-grid">
		<form class="form-horizontal">
			<input type="hidden" ng-model="dealer.id">
			<div class="form-group" ng-class="{'has-error': errors.name}">
				<label class="col-sm-3 control-label">Name*:</label>
				<div class="col-sm-9">
					<input type="text" ng-model="dealer.name" class="form-control" value=""
						ng-trim="true">
					<p class="help-block" ng-bind="errors.name"></p>
				</div>
			</div>
			<div class="form-group" ng-class="{'has-error': errors.address}">
				<label class="col-sm-3 control-label">Address:</label>
				<div class="col-sm-9">
					<input type="text" ng-model="dealer.address" class="form-control" value=""
						ng-trim="true">
					<p class="help-block" ng-bind="errors.address"></p>
				</div>
			</div>
			<div class="form-group" ng-class="{'has-error': errors.city}">
				<label class="col-sm-3 control-label">City*:</label>
				<div class="col-sm-9">
					<input type="text" ng-model="dealer.city" value=""
						placeholder="Start typing..." class="form-control"
						typeahead-min-length="2"
						typeahead="address.description for address in getLocation($viewValue)"
						typeahead-wait-ms="500" typeahead-loading="loadingLocations"
						ng-change="setLocation($item)" typeahead-on-select="setLocation($item)"
						ng-trim="true" >
					<i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
					<p class="help-block" ng-bind="errors.city"></p>
				</div>
			</div>
			<div class="form-group" ng-class="{'has-error': errors.state}">
				<label class="col-sm-3 control-label">State*:</label>
				<div class="col-sm-9">
					<select class="form-control" ng-model="dealer.state" ng-options="state for state in states">
						<option value="">--Select State--</option>
					</select>
					<p class="help-block" ng-bind="errors.state"></p>
				</div>
			</div>
			<div class="form-group" ng-class="{'has-error': errors.tin}">
				<label class="col-sm-3 control-label">TIN:</label>
				<div class="col-sm-9">
					<input type="text" ng-model="dealer.tin" class="form-control" value="" ng-trim="">
					<p class="help-block" ng-bind="errors.tin"></p>
				</div>
			</div>
			<div class="pull-right">*Required fields</div>
			<button type="submit" class="btn btn-primary" ng-click="submit()" ng-disabled="isEmpty(dealer) || submitting">{{!dealer.id ? 'Submit' : 'Update'}}</button>
			<a class="btn btn-default" ng-click="reset();">Reset</a>
		</form>
	</div>
</section>