<section id="transporters" data-ng-controller="TransporterCtrl">
	<div class="page-header">
		<h1>View Transporters</h1>
	</div>
	<div class="col-md-12 show-grid">
		<table class="table table-striped table-hover table-bordered">
			<thead>
				<tr>
					<th>#</th>
					<th>Name</th>
					<th>Address</th>
					<th>City</th>
					<th>State</th>
					<th>&nbsp;</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="transporter in transporters" ng-class="{disabled: deletingRow == $index}">
					<td>{{$index+1}}</td>
					<td>{{transporter.NAME}}</td>
					<td>{{transporter.ADDRESS}}</td>
					<td>{{transporter.CITY}}</td>
					<td>{{transporter.STATE}}</td>
					<td class="text-right">
						<a class="btn btn-primary btn-xs" ng-href="#transporter/{{transporter.ID}}">Update</a>
						<a class="btn btn-default btn-xs" ng-click="deleteTransporter(this.transporter, $index)">Delete</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</section>